{% extends "base.html" %}

{% block auth %}
        <div class="auth-content-section">
            {% if validlink %}
                <form method="POST">
                    {% csrf_token %}    
                    <fieldset class="form-label">
                        <legend class="border-bottom pb-2 mb-3 text-purple-600">Reset Password</legend>
                        {% if form.non_field_errors %}
                            <ul class="errorlist">
                                {% for error in form.non_field_errors %}
                                    <li class="text-danger">
                                        {{ error }}
                                    </li>
                                {% endfor %} 
                            </ul>
                        {% endif %}
                        <div class="mb-3">
                            <label for="formNewPassInput" class="form-label text-purple-700">New Password</label>
                            {{ form.new_password1 }}
                            {{ form.new_password1.errors }}
                        </div>
                        <div class="mb-3">
                            <label for="formConfirmNewPassInput" class="form-label text-purple-700">Confirm New Password</label>
                            {{ form.new_password2 }}
                            {{ form.new_password2.errors }}
                        </div>
                    </fieldset>
                    <div class="form-label">
                        <button type="submit" class="btn btn-outline-purple">Reset Password</button>
                    </div>
                </form>
            {% else %}
                <legend class="text-purple-600">Invalid confirmation token.</legend>
                <p class="text-purple-600 pb-2 border-bottom">You may request your password reset again.</p>
                <a href="/password-reset/">
                    <button type="button" class="btn btn-outline-purple">Reset Password</button>
                </a>
            {% endif %}
        </div>
{% endblock auth %}