{% extends "base.html" %}

{% block content %}
    <div class="content-section">
        <div class="d-flex mb-3">
            <img class="flex-shrink-0 me-3 mt-1 mb-1 rounded-circle" style="width:130px;height:130px;" src="{{ user.profile.profile_pic.url }}" alt="Profile picture">
            <div class="w-100">
                <div class="d-flex">
                    <h2 class="title text-purple-600 w-100">{{ user.username }}</h2>
                    <a class="form-label" href="/profile/{{ user.username }}/">
                        <button type="button" class="btn btn-outline-purple">View</button>
                    </a>
                    <!-- <a class="btn btn-outline-purple text-decoration-none" href="/profile/{{ user.username }}/">View</a> -->
                </div>
                <p class="text-purple-400">{{ user.email }}</p>
                <h6 class="title text-purple-600"></h6>
                <p class="post-content">{{ user.profile.bio }}</p>
            </div>
        </div>
        <div class="post-metadata">
            <h4 class="text-purple-700 ms-3">Profile info</h4>
        </div>
        <div class="profile-content-section">
            <form class="border-bottom" action="." method="POST" enctype="multipart/form-data">
                {% csrf_token %}    
                <fieldset class="form-label">
                    <div class="mb-3">
                        <label for="formUsernameInput" class="form-label text-purple-700">Username</label>
                        <!-- <input name="username" type="text" class="form-control" id="formUsernameInput" required> -->
                        {{ user_form.username }}
                        {{ user_form.username.errors }}
                    </div>
                    <div class="mb-3">
                        <label for="formEmailInput" class="form-label text-purple-700">Email</label>
                        <!-- <input name="email" type="email" class="form-control" id="formEmailInput" required> -->
                        {{ user_form.email }}
                        {{ user_form.email.errors }}
                    </div>
                    <div class="mb-3">
                        <label for="formBioInput" class="form-label text-purple-700">Bio</label>
                        <!-- <input name="password1" type="password" class="form-control" id="formBioInput" required> -->
                        {{ profile_form.bio }}
                    </div>
                    <div class="mb-3">
                        <label for="formProfilePicInput" class="form-label text-purple-700">Profile picture</label>
                        <!-- <input name="password2" type="password" class="form-control" id="formProfilePicInput" required> -->
                        <p>{{ profile_form.profile_pic }}</p>
                    </div>
                </fieldset>  
                <div class="form-label">
                    <button type="submit" class="btn btn-outline-purple">Update</button>
                </div>
            </form>
            <div class="mt-2">
                <a class="form-label" href="{% url 'password_change' user.username %}">
                    <button type="button" class="btn btn-outline-purple">Change Password</button>
                </a>
            </div>
        </div>
    </div>
{% endblock content %}