{% extends "base.html" %}

{% block content %}
        <div class="content-section d-flex">
          <img class="flex-shrink-0 me-3 mt-1 rounded-circle" style="width:65px;height:65px;" src="{{ post.author.profile.profile_pic.url }}" alt="Profile picture">
          <div class="w-100">
            <div class="post-metadata">
              <a class="link-purple-600 text-decoration-none" href="/profile/{{post.author.username}}/">{{ post.author.username }}</a>
              <small class="text-muted">{{ post.pub_date }}</small>
            </div>
            <h2><a class="post-title link-purple-600 text-decoration-none" href="#">{{ post.title }}</a></h2>
            <p class="post-content">{{ post.content|linebreaks }}</p>
            {% if request.user == post.author %}
            <a class="form-label" href="/{{ post.id }}/update/">
              <button type="submit" class="btn btn-outline-purple">Update Post</button>
            </a>
            {% endif %}
          </div>
        </div>
{% endblock content %}